
.animated_text{
    min-width: 100%;
    font-size:50px;
    margin:15px;
}

.animated_text span{
    position: relative;
    font-size:40px;
    font-weight:900;
    text-shadow:3px 1px black
}

.animated_text span::before{
    content: "";
    color: orange;
    animation: words 10s infinite;
}

.animated_text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    /* background-color: black; */
    /* border-left: 4px solid orange; */
    overflow: hidden;
    right: -8px;
}

@keyframes words {
    0%,20%{
        content: "Web Developer";
    }
    21%,40%{
        content: "Front Developer";
    }
    41%,60%{
        content: "React Developer";
    }
    61%,80%{
        content: "Next.js Developer";
    }
    81%,100%{
        content: "Parogrammer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}